.App {
  text-align: center;
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.loginBorder {
  display: flex;
  background-color: rgb(204, 235, 255);
  flex-direction: column;
  font-size: 35px;
  color: orange;
  align-items: center;
}

.join {
  border:2px solid orange;
  background-color: white;
  width: 100px;
  border-radius: 1em;
  font-size: large;
  color: orange;
}